# Python
*.py[cod]
*$py.class
__pycache__/
*.so
.Python
*.egg-info/

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Environment
.env
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
"bin/" 
"obj/" 
".vs/" 
"*.user" 
"*.suo" 
